<ul>
  <li>
    Name: <%= student_class.name %>
  </li>
  <li>
    Birthday: <%= student_class.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= student_class.hometown.capitalize %>
  </li>
</ul>

